force-app/main/default/flows/Application_OnCreateUpdate_UpdateName.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Next_Count</name>
        <label>Assign Next Count</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Next_Application</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Application</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Application_Name</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>ApplicationName</name>
        <dataType>String</dataType>
        <expression>{!$Record.ple__Applicant__r.LastName}+&apos;, &apos;+{!$Record.ple__Applicant__r.FirstName}+&apos;/&apos;+ TEXT({!$Record.ple__Application_Type__c}) + &apos;/&apos; + TEXT({!Next_Application})</expression>
    </formulas>
    <interviewLabel>Application_OnCreateUpdate_UpdateName {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application_OnCreateUpdate_UpdateName</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Next_Count</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application_Name</name>
        <label>Update Application Name</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ApplicationName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
        <filterFormula>OR(ISNEW(),ISCHANGED({!$Record.Application_Type__c}),ISCHANGED({!$Record.Applicant__c}),ISCHANGED({!$Record.Name}) )</filterFormula>
        <object>Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Next_Application</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
